@charset "utf-8";

/* RESET */
html, body, header, footer, nav, main, section,
div, p, span, figure, figcaption, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, i,
table, caption, tbody, tfoot, thead, tr, th, td,
form, label, iframe, figure, summary, time,
input, select, textarea, button, a {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  background: transparent;
  word-break: break-all;
  text-decoration-skip: none;
}
main, details {
  display: block;
}
img {
	vertical-align: middle;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label, button, select{
	cursor: pointer;
}
ul, dl, ol {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, b, em, strong, i, th, td {
  font-style: normal;
  font-weight:normal;
  font-size: inherit;
}
small, button {
  font-size: 100%;
}
::before, ::after {
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

/* 基本構造 */
:root {
  font-size: 10px;
  color: #1a1a1a;
  word-break: normal;
  text-align: left;
}
@media screen and (max-width:360px) {
  :root { font-size: 9px; }
}
@media screen and (min-width:411px) and (max-width:768px) {
  :root { font-size: 11px; }
  /*SP用コードを非表示
  [class^="sp__"] {
    display: none;
  }*/
}
@media screen and (min-width:769px) {
  /*:root { font-size: 12px; }*/
}

html {
  background: #fff;
  /*scroll-behavior: smooth;*/
  /*transform: translate3d(0,0,0);*/
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  min-width: 320px;
  letter-spacing: 0.05em;
  font-feature-settings: "palt";
  /*padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  */
}
main {
  /*overflow: hidden;*/
}
img {
  width: 100%;
  height: auto;
}
a {
  color: #1E84DD;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(85,153,242,.4);
}
a:hover {
  /*text-decoration: underline;*/
}
.br_pc {
  display: none;
}
.br_sp {
}
































































