@charset "utf-8";


/*key*/
.previous__key {
}
.previous__key_block {
  max-width: 970px;
  margin: 0 auto;
}
.previous__key_image {
  position: relative;
  background: #016DAF;
}
.previous__key_image_photo {
}
.previous__key_image_title picture {
}
.previous__key_image_title picture img,
.previous__key_image_title picture source {
}
.previous__key_image_info {
  position: absolute;
  top: 226px;
  left: 34px;
  width: 575px;
  margin: 0;
  background: rgba(8,56,106,.8);
  border: rgba(255,255,255,.3) 2px solid;
  padding: 16px 17px 15px;
  border-radius: 6px;
  background-clip: padding-box;
  max-height: 160px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.previous__key_image_info::-webkit-scrollbar {
  display: none;
}
.previous__key_image_info_title {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.55;
  color: #fff;
  text-align: left;
  letter-spacing:.5px;
}
.previous__key_image_info_title br {
  display: none;
}
.previous__key_image_info_title strong {
  color: #fff100;
  font-weight: inherit;
}
.previous__key_image_info_title span {
  font-size: 1.4em;
}
.previous__key_image_info_atenlist {
  margin: 7px 0 0;
  padding: 10px 5px 0 5px;
  border-top: rgba(255,255,255,.5) 1px dashed;
}
.previous__key_image_info_atenlist_item {
  font-size: 1.2rem;
  line-height: 1.6;
  text-indent: -1em;
  margin: 0 0 0 1em;
  color: rgba(255,255,255,.9);
}
.previous__key_image_info_atenlist_item:last-of-type {
  margin-bottom: 0;
}
.previous__key_image_info_atenlist_item::before {
  content: "※";
  color: #fa4641;
}


/*プラン一覧*/
.previous__plan {
}
.previous__plan_block {
  max-width: 970px;
  margin: 0 auto;
}
.previous__plan_num {
  background: #1d87de;
  padding: 10px 15px 8px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}
.previous__plan_list {
}
.previous__plan_list_item {
  position: relative;
}

/*完売のとき*/
.previous__plan_list_item.soldout {
}
.previous__plan_list_item.soldout::after {
  content: "完売!";
  font-size: 55px;
  font-weight: bold;
  color: #fa4641;
  position: absolute;
  top: 49%;
  left: 78%;
  transform: translate(0,-50%) rotate(-12deg);
  text-shadow: 0 0 10px #fff;
  border: #fa4641 4px solid;
  padding: 11px 7px 3px 10px;
  background: rgba(255,255,255,.8);
}
.previous__plan_list_item.soldout .previous__plan_list_item_link {
  pointer-events: none;
}
.previous__plan_list_item.soldout .previous__plan_list_item_info_heading_seat {
  display: none;
}
.previous__plan_list_item.soldout .previous__plan_list_item_info_ship {
  /*pointer-events: auto;*/
}
.previous__plan_list_item.soldout .previous__plan_list_item_link::after {
  content: none;
}

.previous__plan_list_item_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border: #1d87de 2px solid;
  box-shadow: 0 0 6px rgba(0,0,0,.2);
  padding: 20px 20px 26px;
  position: relative;
  margin: 25px 0;
}
.previous__plan_list_item_link:hover {
  background: #f2fbff;
}
.previous__plan_list_item_link::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 9px;
  border-color: transparent transparent transparent #1a1a1a;
  position: absolute;
  right: 5px;
  top: calc(50% - 2px);
  transform: translate(0,-50%);
}

/*A*/
.previous__plan_list_item_image {
  width: 124px;
  flex-shrink: 0;
  margin: 5px 15px 0 0;
}
.previous__plan_list_item_image figure {
}
.previous__plan_list_item_image figure img {
  filter: brightness(1.1);
}

/*A*/
.previous__plan_list_item_info {
  flex-grow: 1;
}

/*B*/
.previous__plan_list_item_info_heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.previous__plan_list_item_info_heading_category {
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 44px;
  height: 44px;
  border-radius: 88px;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  overflow: hidden;
  padding: 1px 0 0 0;
  margin: 0 8px 0 7px;
}
.previous__plan_list_item_info_heading_category.share {
  background-color: #27c277; 
}
.previous__plan_list_item_info_heading_category.charter {
  background-color: #fb8a19; 
}
.previous__plan_list_item_info_heading_seat {
  flex-shrink: 0;
  background: #fa4641;
  padding: 6px 8px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 4px;
}
.previous__plan_list_item_info_heading_seat span {
  font-size: 1.6em;
  margin: 0 1px;
  display: inline-block;
}
.previous__plan_list_item_info_heading_seat em {
  font-weight: bold;
  font-size: 1.5rem;
}
.previous__plan_list_item_info_heading_title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 5px 0 0;
  color: #1a1a1a;
}

/*B*/
.previous__plan_list_item_info_detail {
  margin: 5px 0 0 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

/*C*/
.previous__plan_list_item_info_detail_cost {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
  flex-shrink: 0;
}
.previous__plan_list_item_info_detail_cost_regular {
  color: #b2b2b2;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Arial, Helvetica, "sans-serif";
  text-decoration: line-through;
  margin: 0 5px 0 0;
}
.previous__plan_list_item_info_detail_cost_regular span {
  font-size: 1rem;
}
.previous__plan_list_item_info_detail_cost_discount {
  color: #fa4641;
  font-size: 3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, "sans-serif";
}
.previous__plan_list_item_info_detail_cost_discount b {
  font-size: 1.3rem;
  font-weight: bold;
}
.previous__plan_list_item_info_detail_cost_discount span {
  font-size: 1.5rem;
  font-weight: bold;
}
.previous__plan_list_item_info_detail_cost_point {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, "sans-serif";
  background: #fff100;
  padding: 4px 8px;
  border-radius: 50px;
  margin: 0 0 0 5px;
}
.previous__plan_list_item_info_detail_cost_point span {
  font-size: .85em;
}
.previous__plan_list_item_info_detail_cost_point.share {
  color: #1a1a1a;
}
.previous__plan_list_item_info_detail_cost_point.charter {
  color: #fa4641;
}

/*C*/
.previous__plan_list_item_info_detail_feature {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 6px 0 0 15px;
}
.previous__plan_list_item_info_detail_feature_fishlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.previous__plan_list_item_info_detail_feature_fishlist::after {
  content: "など";
  font-size: 1.5rem;
  color: #1b73c1;
}
.previous__plan_list_item_info_detail_feature_fishlist li {
  font-size: 1.6rem;
  font-weight: bold;
  background: #dcf3fc;
  padding: 7px 7px 5px;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  color: #1b73c1;
  white-space: nowrap;
}
.previous__plan_list_item_info_detail_feature_fishlist li span {
  font-size: 1.4rem;
  font-weight: normal;
}
.previous__plan_list_item_info_detail_feature_time {
  margin: 0 0 0 7px;
}
.previous__plan_list_item_info_detail_feature_time_txt {
  font-size: 1.5rem;
  color: #1a1a1a;
}
.previous__plan_list_item_info_detail_feature_time_txt::before {
  content: "/";
  margin: 0 7px 0 0;  
}

/*B*/
.previous__plan_list_item_info_ship {
  border: #d6d6d6 1px solid;
  border-radius: 2px;
  padding: 5px 12px 4px 10px;
  margin: 8px 0 0;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  background: #fff;
}
.previous__plan_list_item_info_ship:hover {
  border-color: #b3b3b3;
}
.previous__plan_list_item_info_ship_icon {
  margin: 0 6px 0 0;
}
.previous__plan_list_item_info_ship_icon img {
  width: 47px;
}
.previous__plan_list_item_info_ship_set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.previous__plan_list_item_info_ship_set_name {
  color: #1a1a1a;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 3px 10px 0 0;
}
.previous__plan_list_item_info_ship:hover .previous__plan_list_item_info_ship_set_name,
.previous__plan_list_item_info_ship:hover .previous__plan_list_item_info_ship_set_address_item {
  color: inherit;
}
.previous__plan_list_item_info_ship_set_address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.previous__plan_list_item_info_ship_set_address_item {
  font-size: 1.3rem;
  margin: 2px 0;
  position: relative;
  line-height: 1.3;
  color: #1a1a1a;
}
.previous__plan_list_item_info_ship_set_address_item:not(:first-of-type) {
  margin-left: 15px;
}
.previous__plan_list_item_info_ship_set_address_item:not(:first-of-type)::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #1a1a1a;
  position: absolute;
  left: -10px;
  top: .25em;
}

/*該当プラン無しのとき*/
.previous__plan_nodata {
  padding: 100px 15px 100px;
}
.previous__plan_nodata_txt {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fa4641;
  line-height: 1.8;
}



























