@charset "utf-8";

.sitepolicy_agreement__block {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.sitepolicy_agreement__block_unit {
  font-size: 14px;
  line-height: 1.8;
  margin-top: -1em;
  white-space: pre-wrap;
  white-space: break-spaces;
}


.sitepolicy_privacy__block {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.sitepolicy_privacy__block_unit {
  font-size: 14px;
  line-height: 1.8;
  margin-top: -1em;
  white-space: pre-wrap;
  white-space: break-spaces;
}
.sitepolicy_privacy__block_unit a {
  text-decoration: underline;
}



